*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}

/*------ Header ------*/
header{
    display: flex;
    justify-content: flex-end;
}
.column{
    background-color: rgb(49, 47, 47);
    color: white;
    text-align: center;
    margin: 5px;
}
#s-column-1{
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    display: inline-block;
}
#s-column-2{
    margin-right: 10px;
    padding: 5px;
    width: 50px;
    border-radius: 5px;
    display: inline-block;
}

/*-------- main container  --------*/
main{
    display: flex;
    justify-content: space-evenly;
}
.arrow{
    color: white;
    align-self: center;
    font-size: 13px;
    margin: 0 10px;
}
.fa-caret-left{
    font-size: 40px;
    color: gray;
}
.fa-caret-right{
    font-size: 40px;
    color: rgb(0, 182, 173);
    margin-left: 6px;
}
.window{
    width: 230px;
    height: 140px;
    background-color: white;
    margin: 5px;
    position: relative;
}
.window img{
    width: 100%;
    height: 100%;
}
.name{
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.fa-microphone-alt-slash{
   padding: 0 8px 0 5px;
}
#main-container{
    margin: 25px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
